.git
.github
.idea
.vscode
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.cache
.phpunit.result.cache
docker-compose*.yml
README.md
